# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.idea/
.DS_Store
# iOS
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/ephemeral/
**/ios/Runner.xcworkspace/xcuserdata/
**/xcuserdata/
# Android
**/android/.gradle/
**/android/local.properties
# Studio
.studio/run-start
node_modules/
